<div id="<%= dom_id house %>">
  <p>
    <strong>Name:</strong>
    <%= house.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= house.location %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= house.type %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= house.bedrooms %>
  </p>

  <p>
    <strong>Guests:</strong>
    <%= house.guests %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= house.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= house.user_id %>
  </p>

</div>
