<div id="<%= dom_id house %>">

  <%= link_to house do %>
    <% if house.photo.attached? %>
      <%= cl_image_tag house.photo.key, class: "img-card"%>
    <% end %>
  <% end %>
  <div class="card-trip-infos">
    <p>
      <%= house.name %>
    </p>

    <p>
      <%= house.location %>
    </p>


    <p>
      <strong>Guests:</strong>
      <%= house.guests %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= house.price %>
    </p>

    <p>
      <strong>User:</strong>
      <%= house.user.email %>
    </p>
  </div>
</div>
