
<div class="container d-flex justify-content-between pt-5">
  <div class="w-50">

    <%= render @house %>

    <div>
      <%= link_to "Edit this house", edit_house_path(@house) %> |
      <%= link_to "Back to houses", houses_path %>

      <%= button_to "Destroy this house", @house, method: :delete %>
    </div>
    <hr>
  </div>
  <div>
    <% unless @house.user == current_user %>
      <%= render 'bookings/form' %>
    <% end %>
  </div>
</div>
