<div class="container">
  <h2><%= @report.name %></h2>
  <p>Latitude: <%= @report.latitude %> - Longitude: <%= @report.longitude %></p>

  <div style="width: 25%; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
